# API URL
#   - api.opsgenie.com
#   - api.eu.opsgenie.com

apiVersion: v1
kind: Secret
metadata:
  name: opsgenie-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "api_key": "xxxxxxxx",
      "api_url": "api.eu.opsgenie.com"
    }
